<form action="/Meals/Create" method="POST">
    Cook: <input type="text" name="cook" /><br/>
    Meal: <input type="text" name="meal" /><br/>
    Day: <input type="text" name="day" /><br/>
    <input type="submit" value="Submit" />
</form>